<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <br><br><br><br>
    <div class="container">
        <img src="https://tse2.mm.bing.net/th?id=OIP.TBKLgiWgQe7WVbmVpATq7wHaEo&pid=Api&P=0&w=265&h=166" id="home"alt=" " height="400px" width="600px">
        <h2 id = "doctor">Dr. SMITHA ASHOK, Mbbs., Dnb., Dfm., D.Diab.,<br><br><br>
        <div class="button">
          <button class="btn btn-warning" type="button" id="schedules" routerLink="/todos">View Schedules</button>
      </div>
    </h2>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
<footer>
       <div class="footer">
          <div class="footer1">
              <p>Home</p>
              <p>About</p>
              <p>Contactus</p>
              <p>terms and conditions</p>
              <p>Privacy policy</p>
             
          </div>
          <div class="image">
            <img src="https://tse2.mm.bing.net/th?id=OIP.3gfytuStw2BCvRcvsETqqQHaEF&pid=Api&P=0&w=321&h=177" id="home"alt=" " height="200px" width="170px">
          </div>
          <div class="msg" >
              <h2>Health Care</h2>
              <p>We offer different kinds of health check-up programs at KMCH to suit need. For more details please contact our Master Health Checkup department located in level one (Intercom No. 107, Direct Telephone No: 0422-2628248)</p>
              <p>-A Health Care Provider of Western Approach with an Indian Touch.<br>

                -RSis the most trusted Multispecialty Hospital in the Southern Indian City of Coimbatore.<br>
                
               -The relentless service of RS in the past 26 years, taken health care to the most modern levels in the region catering to urban and rural population.</p>
            </div>
      </div>
      <p id="logo">
        <a href="" class="fa fa-facebook"></a>
        <a href="" class="fa fa-whatsapp"></a>
        <a href="" class="fa fa-instagram"></a>
      </p>
</footer>
</body>
</html>
