<h1 id="overview">Overview</h1>
<p id="health">A Health Care Provider of Western Approach with an Indian Touch.<br><br>

    RS is the most trusted Multispecialty Hospital in the Southern Indian City of Coimbatore.<br><br>
    
    The relentless service of RS in the past 26 years, taken health care to the most modern levels in the region catering to urban and rural population.</p>
    <br>
    <br>
    <div *ngFor="let i of facilities">
        <img src="{{i.url}}" alt="" height="500px" width="700px"id="image">
        <h2 id="funName">{{i.facName}}</h2>
    </div>
    <h1 id="quotes">“No matter what your problems are, we receive you with care, so you go back with a smile.”

    </h1>  <br>
<h2 id="title">RS HAS ESTABLISHED ITS NAME IN MULTIPLE SPECIALTIES SUCH AS ITS:</h2>
<div id="about">
   <h2> Heart Institute </h2>
   <p> – Bypass operation, heart transplant, valve repair, further more we have…<br><br>
    – The region’s only heart rhythm specialist (Electro physiologist).<br><br>
    – The region’s only established Paediatrics Cardiologist.</p>
   <h2>Multi Organ Transplant Center</h2>
    <p>– Heart & Lung, Liver, Kidney and Bone Marrow.</p>
   <h2> Comprehensive Cancer Center</h2>
   <p>– Medical Oncology, Surgical Oncology, Radiation Oncology, Nuclear Medicine & PET.</p>
   <h2> Interventional Radiology</h2>
   <p>– A pioneer in the field of IR advocating methods of expertise to institution across the Globe.</p>
   <h2>OBG</h2>
   <p> – High risk pregnancies and Fertility Center.</p>
    <h2>Paediatrics</h2>
    <p> – 26 years of unblemishing track record in treating neonates and infants.</p>
    <h2>Critical Care & Trauma</h2>
    <p> – In emergencies we handle life threatening situations through world class trained Doctors and Intensivists.</p>
    <h2>Orthopaedics</h2>
    <p> – Hip and Knee Replacement and complex deformity correction.</p><br>
    <p>Others as well,… Endocrinology, Diabetes management, Rheumatology, GI, Pulmonology, Interventional Pulmonology with EBUS, Psychiatry, Cosmetic surgery,<br><br> ENT, Dermatology, Hematology, Urology, Nephrology and Paediatric Surgery.</p><br>
    
   <p> We believe in bringing the most modern techniques and delivering extraordinary care to ailing population with the highest levels of ethics and standards.<br><br>
    
    We are committed to continuing medical education, through our fellowship and DNB programs.<br><br>
    
    We organize atleast one conference a month and support research foundation for continued advancement.</p>



