
<div  style="height:1000px;" class="container-fluid">
	<div class="container1">
	  <div class="row">
		  <div class="opp1" style="margin-top: 100px;color: white;margin-left: 20px;margin-right: 20px;">
			  <div>
			  
					  <form [formGroup]="todoForm">
						  <p>
							  <mat-form-field appearance="outline" id="textbox">
								<mat-label>Enter your Activity List</mat-label>
								<input id="opp1" formControlName="item" matInput placeholder="Enter Your Status">
								<!-- <mat-icon>sentiment_very_satisfied</mat-icon> -->
							   
							  </mat-form-field>
							  
							</p>
					  </form>
					  <button *ngIf="!isEditEnabled"(click)="addTask()" [disabled]="todoForm.invalid"  mat-raised-button style="margin-left: 1200px;">ADD</button>
					  <button *ngIf="isEditEnabled"(click)="updateTask()" [disabled]="todoForm.invalid"  mat-raised-button>update</button>
					 
			  
				 
			  </div>
  
		  </div>
		 
	  </div>
	  </div>
  <br>
  <br>
	  
	 <br><br><br> <div class="container">
	  
		  <div cdkDropListGroup>
			
			  <div class="row row2">
				<mat-card id="opp">
				 
					  <div class="example-container">
						  <h2 style="text-align:center;font-family: 'Times New Roman', Times, serif;font-weight: bold;font-size: 25px;">Task Created<span *ngIf="tasks.length >0">{{tasks.length}}</span></h2>
					  
						  <div
							cdkDropList
							[cdkDropListData]="tasks"
							class="example-list"
							(cdkDropListDropped)="drop($event)">
							<div class="example-box" *ngFor="let item of tasks;let i = index" cdkDrag>{{item.description}}
								<div class="box">
									<button mat-icon-button color="black" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
									<button mat-icon-button color="black" (click)="onEdit(item,i)"><mat-icon>edit</mat-icon></button>
								   
								</div>
							</div>
						  </div>
						</div>
				
				</mat-card>
				<mat-card id="opp">
				  
					  <div class="example-container">
						  <h2  style="text-align:center;font-family: 'Times New Roman', Times, serif;font-weight: bold;font-size: 25px;">Task In Progress<span *ngIf="inprogress.length >0">{{inprogress.length}}</span></h2>
					  
						  <div
							cdkDropList
							[cdkDropListData]="inprogress "
							class="example-list"
							(cdkDropListDropped)="drop($event)">
							<div class="example-box" *ngFor="let item of inprogress;let i = index" cdkDrag>{{item.description}}
							 
								  <button mat-icon-button color="black" (click)="deleteInProgressTask(i)"><mat-icon>delete</mat-icon></button>
								 
						  </div>
  
						  </div>
						</div>
  
			   
				  </mat-card>
				  <mat-card id="opp">
				 
					  <div class="example-container">
						  <h2  style="text-align:center;font-family: 'Times New Roman', Times, serif;font-weight: bold;font-size: 25px;">Task Completed<span *ngIf="done.length >0">{{done.length}}</span></h2>
						  
						  <div
							cdkDropList
							[cdkDropListData]="done"
							class="example-list"
							(cdkDropListDropped)="drop($event)">
							<div class="example-box" *ngFor="let item of done;let i = index" cdkDrag>{{item.description}}
							  <button mat-icon-button color="black" (click)="deleteDoneTask(i)"><mat-icon>delete</mat-icon></button>
							  
							</div>
						  </div>
						</div>
					  
				 </mat-card>
				  <mat-card id="opp">
				 
					  <div class="example-container">
						 <h2  style="text-align:center;font-family: 'Times New Roman', Times, serif;font-weight: bold;font-size: 25px;">Task Cancelled<span *ngIf="cancelledtask.length >0">{{cancelledtask.length}}</span></h2>
						 
					  
						  <div
							cdkDropList
							[cdkDropListData]="cancelledtask "
							class="example-list"
							(cdkDropListDropped)="drop($event)">
							<div class="example-box" *ngFor="let item of cancelledtask;let i = index" cdkDrag>{{item.description}}
							  <button mat-icon-button color="black" (click)="deleteCancelledTask(i)"><mat-icon>delete</mat-icon></button>
							 
							 
							</div>
						  </div>
						</div>
					  
			
				  </mat-card>
				  <mat-card id="opp">
				 
					  <div class="example-container">
						<h2  style="text-align:center;font-family: 'Times New Roman', Times, serif;font-weight: bold;font-size: 25px;">Task Hold<span *ngIf="holdtask.length >0">{{holdtask.length}}</span></h2>
						
					  
						  <div
							cdkDropList
							[cdkDropListData]="holdtask"
							class="example-list"
							(cdkDropListDropped)="drop($event)">
							<div class="example-box" *ngFor="let item of holdtask;let i = index" cdkDrag>{{item.description}}
							  <button mat-icon-button color="black" (click)="deleteHoldTask(i)"><mat-icon>delete</mat-icon></button>
							  
							</div>
						  </div>
						</div>
					  
				 
				  </mat-card>
			  </div>
		  </div>
  
   
	</div>
  </div>